/* products style sheet */
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}


@media only screen and (max-width:768px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
}

@media only screen and (max-width:991px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}